.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}



/* red and blue blending = rgb(255, 0, 255) #ff00ff */

/* Snake.js component below */

.snakeBox {
  margin: auto;
  position: static;
  
  top: 1vw;
  padding: 1vw;

  aspect-ratio: 16/9;
  
  background-color: black;
  /* border: 0.5vw solid white; */
  overflow: hidden;
}

.snake1 {

  position: relative;
  top: -5vw;
  left: 57vw;
  width: 35.92vw;
  height: 15.78vw;
  /* border: 1px solid #73AD21; */
  background-image: url("../public/snake1.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 35.92vw 15.78vw;
  z-index: 11;
  overflow: hidden;

  cursor: -webkit-grabbing; 
  cursor: grabbing;
}


.snake2 {

  position: relative;
  top: -5vw;
  left: 4vw;
  width: 7.87vw;
  height: 17.47vw;
  /* border: 1px solid #73AD21; */
  background-image: url("../public/snake2.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 7.87vw 17.47vw;
  z-index: 12;
  overflow: hidden;

  cursor: -webkit-grabbing; 
  cursor: grabbing;
}


.snake3 {

  position: relative;
  top: -10vw;
  left: 50vw;
  width: 14.66vw;
  height: 11.80vw;
  /* border: 1px solid #73AD21; */
  background-image: url("../public/snake3.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 14.66vw 11.80vw;
  z-index: 13;
  overflow: hidden;

  cursor: -webkit-grabbing; 
  cursor: grabbing;
}

.snake4 {

  position: relative;
  top: -25vw;
  left: 20vw;
  width: 21.82vw;
  height: 15.97vw;
  /* border: 1px solid #73AD21; */
  background-image: url("../public/snake4.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 21.82vw 15.97vw;
  z-index: 14;
  overflow: hidden;

  cursor: -webkit-grabbing; 
  cursor: grabbing;
}


.snake5 {

  position: relative;
  top: -68vw;
  left: 30vw;
  width: 14.89vw;
  height: 15.97vw;
  /* border: 1px solid #73AD21; */
  background-image: url("../public/snake5.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 14.89vw 15.97vw;
  z-index: 15;
  overflow: hidden;

  cursor: -webkit-grabbing; 
  cursor: grabbing;
}

.snake6 {
  position: relative;
  top: -56vw;
  left: 80vw;
  width: 19.81vw;
  height: 13.67vw;
  /* border: 1px solid bisque; */
  background-image: url("../public/snake6.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 19.81vw 13.67vw;
  z-index: 16;
  overflow: hidden;

  cursor: -webkit-grabbing; 
  cursor: grabbing;
}


.snake7 {

  position: relative;
  top: -66vw;
  left: -1vw;
  width: 12.69vw;
  height: 10.16vw;
  /* border: 1px solid #73AD21; */
  background-image: url("../public/snake7.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 12.69vw 10.16vw;
  z-index: 17;
  overflow: hidden;

  cursor: -webkit-grabbing; 
  cursor: grabbing;
}


.snake8 {

  position: relative;
  top: -125vw;
  left: 75vw;
  width: 8.43vw;
  height: 24.49vw;
  /* border: 1px solid #73AD21; */
  background-image: url("../public/snake8.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 8.43vw 24.49vw;
  z-index: 18;
  overflow: hidden;

  cursor: -webkit-grabbing; 
  cursor: grabbing;
}

.instructionBox {
  position: relative;
  /* top:20vh; */
  
  top: -110vw;
  left: 60vw;
  margin: 0;

  width: 16vw;
  height: 31vw;

  background-image: url("../public/iphone-w.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  color: white;
  padding: 1.5vw;
  font-size: 2vw;

  background: white 0.9;
  border-radius: 1vw;

  /* -webkit-box-shadow:18px 15px 27px 10px rgba(255,189,243,0.8);
  -moz-box-shadow: 18px 15px 27px 10px rgba(255,189,243,0.8);
  box-shadow: 18px 15px 27px 10px rgba(255,189,243,0.8); */
  
  backdrop-filter: blur(4.3px);
  /* -webkit-backdrop-filter: blur(4.3px); */
  /* border: 0.5vw solid black; */
  z-index: 29;
  
  animation: 
    rotation 5s 10s forwards,
    BeGone 1s 17s forwards;
}

.snakeAvatar {
  background-image: url("../public/snake1.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;

  float: left;
  /* shape-outside: circle(50%); */
  clip-path: circle(50%);
  
  border-radius: 50%;
  border: .1vw solid white;

  width: 4vw;
  height: 4vw;
  margin: 1vw;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
    transform-origin: 0% 100%;
    
  }
  
}

@keyframes BeGone {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}


.logoBox {
  position: static;
  top: .5vw;
  left: .5vw;
  width: 9vw;
  height: 9vw;

  background-image: url("../public/logo.svg");
  background-repeat: no-repeat;
  background-position: right top;

  background-size: cover;
}

.incText {

  width: 20vw;
  height: 8vw;
  color: white;
  -webkit-text-stroke: 0.1vw purple;
  text-align: left;
  vertical-align: text-bottom;

  position: relative;  
  top: -10vw;
  left: 11vw;
  font-size: 1.9vw;
  margin: 1vw;
  padding: 1vw;
  border-left: 1vw solid white;
  /* background-color: yellow; */
  z-index: 29;
}

.squareBox {
  position: static;
  margin: auto;
/* 
  width: 100%;
  height: 85%; */
  width: 100vw; 
  height: 85vw;

  
  /* aspect-ratio: 16/10; why doesn't this work? */

  background-color: black;
  /* border: 0.5vw solid black; */
}

.square1 {
  position: relative;
  margin: 0;
  
  top: 2vw;
  left: 3vw;
  width: 45vw;
  height: 45vw;

  color: white; 
  text-align: left;
  vertical-align: super;

  font-size: 4vw;
  padding-top: 0vw;
  padding-left: 3vw;
  padding-right: 0vw;

  background-color: black;
  border: 0.5vw solid white;
  border-radius: 1vw;
}
.textPosition {
  position: relative;

  top: -13vw;
}
.logoPosition {
  position: relative;

  padding: 2vw;
}

.square2 {
  position: relative;
  margin: 0;
  
  top: -43vw;
  left: 51vw;
  width: 45vw;
  height: 45vw;

  color: white; 
  text-align: left;
  
  font-size: 4vw;
  padding-top: 0.5vw;
  padding-left: 3vw;
  padding-right: 0vw;

  background-color: black;
  border: 0.5vw solid white;
  border-radius: 1vw;
}

.npa {
  font-size: 4.7vw;
  color: white;
  -webkit-text-stroke: 0.3vw purple;
}

.square3 {
  position: relative;
  margin: auto;
  
  top: -40vw;
  left: 0vw;
  width: 93vw;
  height: 30vw;

  color: white; 
  text-align: center;
  
  font-size: 10vw;
  padding-top: 3vw;
  padding-left: 1vw;
  padding-right: 1vw;

  background-color: black;
  /* border: 0.5vw solid black;
  border-radius: 1vw; */
}

.joinText {
  color: white;
  -webkit-text-stroke: 0.5vw purple;
}

.joinText:hover {
  color: purple;
  -webkit-color: purple;
}
.emailText {
  font-size: 3vw;
  /* border: .5vw solid black; */
}

.smallLogo {
  position: static;
  display: inline-block;
  /* top: .5vw;
  left: .5vw; */
  width: 2.5vw;
  height: 2.5vw;

  background-image: url("../public/logo.svg");
  background-repeat: no-repeat;
  background-position: right top;

  background-size: cover;
}

/* Testimonials flex-box */

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  /* width: 100vw; */
  background-color: white;
}

.flexcontainer > div {
  color: black;
  background-color: white;
  
  margin: 1vw;
  padding: 1vw;
  justify-content: center;
  
  width: 30vw;
  height: 30vw;

  text-align: left;
  font-size: 2vw;
  
  border: .5vw solid black;
  border-radius: 1vw;
}

.avatar1 {
  background-image: url("../public/img1.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  float: left;
  /* shape-outside: circle(50%); */
  clip-path: circle(50%);

  width: 10vw;
  height: 10vw;
  margin: 1vw;

}

.avatar2 {
  background-image: url("../public/img2.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  float: left;
  /* shape-outside: circle(50%); */
  clip-path: circle(50%);

  width: 10vw;
  height: 10vw;

  margin: 1vw;
}

.avatar3 {
  background-image: url("../public/img3.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  float: left;
  /* shape-outside: circle(50%); */
  clip-path: circle(50%);

  width: 10vw;
  height: 10vw;

  margin: 1vw;
}

.avatar4 {

  background-image: url("../public/img4.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  float: left;
  /* shape-outside: circle(50%); */
  clip-path: circle(50%);

  width: 10vw;
  height: 10vw;

  margin: 1vw;
}

.avatar5 {

  background-image: url("../public/img5.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  float: left;
  /* shape-outside: circle(50%); */
  clip-path: circle(50%);

  width: 10vw;
  height: 10vw;

  margin: 1vw;
}

.avatar6 {
  background-image: url("../public/img6.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  float: left;
  /* shape-outside: circle(50%); */
  clip-path: circle(50%);

  width: 10vw;
  height: 10vw;
  margin: 1vw;
}

.name {
  font-size: 2.2vw;
  font-weight: bold;
  color: purple;
}

.videoBox {
  position: static;
  display: block;
  margin: auto;
  
  width: 100%;
  aspect-ratio: 16/9;
  /* width: 100vw;   */

  /* border: .5vw solid black; */

  background-color: black;
}

/* @media only screen and (max-width: 600px) {
  .testimonialBox > div {
    margin: 1.2vw;
    background-color: white;
    width: 100vw;
    height: 100vw;
  } 
} */

.speechBox {
  position: static;
  display: block;
  margin: auto;
  
  
  width: 100vw;

  background-color: black;
}

.speechBox > div {
  margin: auto;
  
  padding: 1vw;
  color: white;
  font-size: 1.5vw;

  background-color: black;
  width: 100vw;
  height: 15vw;

  top: 2vw;

}

/*  footer */

.footerWave {
  position: relative;
  width: 100%;
  background: #ff00ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.footerWave p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
